nav {
    img {
        width: 80px;
    }
    ul li .active{
        color: $warning;
    }
    span i{
        font-size: 2rem;
    }
    i {
        color: $primary;
        &:hover {
            color: $secondary;
        }
    }
}

main{
    margin-top: 106px;
}

.bg-dark {
    color: contrastText($dark);
}

.first-cta{
    background: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.7)),
                url(../img/bg.jpg);
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    background-size: cover;
    height: 500px;
    color: white;
    div{
        padding-left: 5rem;
    }
    a{
        text-transform: uppercase;
        font-size: 1.3rem;
        color: white;
    }
}

.services{
    div{
        text-align: center;
        i{
            font-size: 3rem;
            color: $primary;
        }
    }
}

.partnerships{
    img {
        height: 100px;
    }
}

.reviews {
    img{
        width: 200px;
    }
}

footer {
    img{
        width: 80px;
    }
}


